<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_oyster_two"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_oyster_two"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activity.MyInternshipsActivity"></activity>
        <activity android:name=".Activity.WalloffameActivity" />
        <activity android:name=".Activity.FilterActivity" />
        <activity android:name=".AdapterModels.home_pojo" />
        <activity android:name=".Activity.LeftMenu" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>